<% title t('password_resets.titles.new') %>

<p><%= t('password_resets.reset_note') %></p>

<% form_tag password_resets_path do %>
  <p>
    <%= label_tag :email, at(User, :email) %><br />
    <%= text_field_tag :email %>
  </p>
  <p>
    <%= submit_tag t('password_resets.actions.reset') %>
  </p>
<% end %>