<h1>Register Account</h1>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
<%= render :partial => 'form', :object => f %>
  <p>
    <%= f.submit "Register" %>
  </p>
<% end %>